
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pdfOkuyucu</title>
</head>
<body>
    <iframe src="https://docs.google.com/viewer?url=http://stjgazete.takip.com/@ViewData["link"]" frameborder="0" height="500px" width="100%"></iframe>
</body>
</html>
