
@{
    Layout = null;
}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <link class="cssdeck" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>Türk Medya</title>
</head>
<body>
    <div class="header5">
        <div class="navbar">
            <div class="logo">
                <br><img src="~/images/Akşam Logo Beyaz.png" width="130px">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>
                        Akşam Gazetesi ve tüm ekleri <br>bilgisayar,tablet ve telefonunda
                    </h1>
                    <p>Aksam.com.tr'den 7/24 Akşam Gazetesi'nin ve tüm eklerinin basılı <br> versiyonuna ve arşivlerine her yerinden erişin.</p>
                    <form method="post" action="@Url.Action("Giris","Login")">
                        <input type="submit" value="OKUMAYA BAŞLA &#8594">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="GİRİŞ YAP &#8594">
                    </form>

                </div>
                <div class="col-md-5">

                    <img class="newspaper" style="float: right;" src="~/images/header-newspaper (2).png">

                </div>
            </div>


        </div>

    </div>
    </div>
    <br>
    </div>
    <div class="header1">
        <div class="arrival-heading">

            <p>Akşam Gazetesinin tüm eklerini dijital ortamda okuyun</p>
            <hr width="100" size="10px"> </hr>
            <div class="row markaText">
                <div class="col-md-2">
                    <div class="icon-gunes-sub"></div>
                    <br>
                    <span>Haftanın 7 günü yaşam, sağlık ve magazin dolu</span>
                    <br>
                    <img src="~/images/gunes-sub.jpg" width="150px" height="250px">

                </div>

                <div class="col-md-2">
                    <div class="icon-cumartesi-sub"></div>
                    <br>
                    <span>Cumartesi günlerinize renk katacak</span>
                    <br>
                    <img src="~/images/cumartesi-sub.jpg" width="150px" height="250px">


                </div>
                <div class="col-md-2">
                    <div class="icon-acikgorus-sub"></div>
                    <br>
                    <span>Hafta sonları Türkiye'nin Fikir Meydanı</span>
                    <br>
                    <img src="~/images/acikgorus-sub.jpg" width="150px" height="250px">


                </div>
                <div class="col-md-2">
                    <div class="icon-bulmaca-sub"></div>
                    <br>
                    <span>Bulmaca severlerin vazgeçilmezi</span>
                    <br>
                    <img src="~/images/bulmaca-sub.jpg" width="150px" height="250px">

                </div>
                <div class="col-md-2">
                    <div class="icon-tuyo-sub"></div>
                    <br>
                    <span>En çok kazandıran at yarışı eki</span>
                    <br>
                    <img src="~/images/tuyo-sub.jpg" width="150px" height="250px">

                </div>
                <div class="col-md-2">
                    <div class="icon-kitap-sub"></div>
                    <br>
                    <span>Her ay edebiyat dünyasının nabzı burada atıyor</span>
                    <br>
                    <img src="~/images/kitap-sub.jpg" width="150px" height="250px" style="margin-bottom: -10px; ">



                </div>
            </div><br>
            <a href="/Login/Giris"> <input class="okubuton" type="submit" style="width:250px;" value=" HEMEN OKUMAYA BAŞLA &#8594"> </a>

        </div><br>
        <div class="header3">
            <hr style="opacity: 0.5;height: 5px; box-shadow: 10px 10px 5px gray; background-color: white;">

            <div class="title-heading">

                <p>Size uygun planı seçin</p>

            </div>

            <div class="title-heading1">
                <p>Satın alarak dijital ortamın tüm avantajlarına sahip olun. <span style="font-weight: bold;"> 3 ay, 6 ay ve 1 yıllık </span> aboneliklerde Platin dergisini bedavaya okuyun.</p>
            </div>

            <div class="row">
                <div class="col-md-2 kutu" style="color: #32399e;  border-bottom: 7px solid #32399e;"> <p>1 Aylık</p> <h2>4,5TL</h2></div>
                <div class="col-md-2 kutu" style="color: #6c308f;  border-bottom: 7px solid #6c308f;"><p>2 Aylık</p> <h2>8,5TL</h2></div>
                <div class="col-md-2 kutu" style="color: #e68e0a;  border-bottom: 7px solid #e68e0a;"><p>3 Aylık</p> <h2>12TL</h2></div>
                <div class="col-md-2 kutu" style="color: #851717;  border-bottom: 7px solid #851717;"><p>6 Aylık</p> <h2>30TL</h2></div>
                <div class="col-md-2 kutu" style="color: #201f1d;  border-bottom: 7px solid #201f1d;"><p>1 Yıllık</p> <h2>50TL</h2></div>
            </div>

            <div class="row">

                <div class="col">
                    <p style="color: #949393; font-size:15px;text-align: center; padding-left: 200px; padding-right: 20
      ,40px; margin: 50px;">Vivamus magna sem,aliquet a elit in, varius sodales urna. Pellentesque maximus sodales massa, sit amet pulvinar risus<br>feuglat vitae. Aenean rutrum mi sit amet pretium laoreet.</p>


                </div>


                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <div class="icon-wifi"></div>
                        </center>
                        <br>
                        <span><strong>İnternete gerek yok</strong></span>
                        <p>Günün gazetesini cihazına indirdikten sonra internet olmadan bile okuyabilirsiniz.</p>
                        <br>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <div class="icon-device"></div>
                        </center>
                        <br>
                        <span><strong>Her yerde yanında!</strong></span>
                        <p>E-Gazete uygulamamız ile Akşam ve tüm eklerini bilgisayar, telefon ve tabletinden her zaman okuyabilirsin.</p>
                        <br>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <div class="icon-file"></div>
                        </center>
                        <br>
                        <span><strong>Arşiv</strong></span>
                        <p>E-Gazete uygulaması ile gazete ve tüm eklerinin arşivlerine ulaşabilir, okuyabilirsin </p>
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <hr style="background-color: rgb(90, 90, 90); width: 1050px;">
                        <div style="float:left">
                            <span> Mesafeli Satış Sözleşmesi  İptal & İade Koşulları </span>
                            <div class="icon-vısa"></div>
                            <div class="icon-mastercard"></div>
                            <div class="icon-ssl"></div>
                        </div>


                        <div style="float: left; margin-left: 532px;">
                            <span> Copyright 2020 &#169; </span>
                            <div class="icon-turkmedya"></div>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>

