@model E_GazeteUyg.Models.Kayit
@{
    ViewBag.Title = "Abonelik";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<h2>Üye Abonelik Açma/Kapama</h2>
<div class="col-md-6">
    <form method="post">
        @if (Model.Abonelik)
        {
            <select name="Abonelik">

                <option value="true" selected>Açık</option>
                <option value="false">Kapalı</option>

            </select>
        }
        else
        {
            <select name="Abonelik">

                <option value="true" >Açık</option>
                <option value="false" selected>Kapalı</option>

            </select>
        }


        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Onayla  </button>
        </div>
    </form>


</div>

